body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.container {
  padding: 20px;
}

input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 6px;
  border: none;
}

button {
  margin: 5px;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  background: #22c55e;
  color: white;
  cursor: pointer;
}

button:disabled {
  background: gray;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}